= link_to 'Features', static_path(id: :features)
br
= link_to 'Pricing', static_path(id: :pricing)
br
= link_to 'Kitchen', static_path(id: :kitchen_home)
br
= link_to 'Caterer', static_path(id: :caterer_home)
